[submodule "themes/diary"]
	path = themes/diary
	url = https://github.com/AmazingRise/hugo-theme-diary.git
[submodule "hide-temp-note/themes/diary"]
	path = hide-temp-note/themes/diary
	url = https://github.com/AmazingRise/hugo-theme-diary.git
